{
  presets: ["react", ['env',
  {
      modules: false
  }],"stage-0"],
  plugins: [
      ["transform-object-rest-spread",
      {
          "useBuiltIns": true
      }],
      "transform-function-bind", ["transform-react-jsx",
      {
          "pragma": "Virtual.createElement" // default pragma is React.createElement
      }, ],
      "syntax-dynamic-import"
  ],
  "ignore": [
    "sc-img.js"
  ]
}
